*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    min-height: 150vh;
}
header{
    background-image: url("dark.jpg");
    height: 100vh;
    width: 100%;
    position: relative;
    background-size: cover;
    display: flex;
    /*justify-content: center;
    align-items: center;*/
    
    background-attachment: fixed;
    /*clip-path: circle(190vh  at 90% -80vh);*/
    clip-path: circle(195vh at 90% -50vh);
}
header .content{
    /*max-width: 1000px;*/
    
    position: absolute;
    top: 80%;
    margin-top: 10px;
    margin-left: 70%;
    border-right: 5px solid #ffffff;
    /*text-align: center;*/
}
header .content h1{
    font-size: 35px;
    color: #ffffff;
    padding: 0px;

    margin: 0px;
}
header .content p{
    font-size: 18px;
    color: #ffffff;
    padding: 0px;
    margin: 0px;
}

  .redesSociales{
      z-index: 1;
    position: relative;
    color: #ffffff;
    margin-top: -17%;
    margin-left: 5px;
}
.redesSociales .contenedor{
   overflow: hidden;
    margin-top: 10px;  
}

.redesSociales .contenedor a{
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
    color: #000000;
    padding: 0px 10px;
    line-height: 40px;
    
}
.redesSociales .contenedor .dow-up{
    overflow: hidden;
   
    
}
.redesSociales .contenedor .dow-up a{
    font-size: 22px;
    margin-top: 2px;
    margin-right: 20px!important;
    text-align: center;
    color: #ffffff;
    animation: animacionRow 2s infinite;
}
 .articulos{
   
    position: relative;
    margin-top:20px;
    

}
@keyframes animacionRow{
    from{
        top: 10px;
        font-size: 14px;
        color: #f2f2f2;
        opacity: 0.7;
    }
    to{
        font-size: 22px;
       top: 0px;
        color: #ffffff;
    }
}